In [1]:
import pandas as pd
import numpy as np
import sqlite3
from itertools import product
pd.set_option('display.max_columns', 500)

import matplotlib.pyplot as plt

conn = sqlite3.connect(r'C:\Users\Spencer\Environments\aquastaat\project.db')
conn.text_factory = lambda x: str(x, 'latin1')

data = pd.read_sql("SELECT * FROM parameter", conn)

In [2]:
def remove_blanks(data):
    print('Before: ', data.shape)
    data.loc[data.loc[:,'Value']=='','Value'] = None
    data.dropna(axis=0, how='any', inplace=True)
    print('After: ', data.shape)
    
def label_bin(year, year_bins, bin_labels):
    return bin_labels[len(list(filter(lambda y: y < year, year_bins)))-1]
    
def bin_year(data):
    year_bins = [y for y in range(1978, 2020, 5)]
    bin_labels = [l for l in range(1980, 2020, 5)]
    data['YearBin'] = data['Year'].apply(lambda x: label_bin(x, year_bins, bin_labels))

In [3]:
data = data.loc[data['Year']>=1978,:]

In [4]:
remove_blanks(data)
bin_year(data)
data['Value'] = data['Value'].astype(float)

Before:  (92995, 6)
After:  (92898, 6)

In [5]:
data.drop(axis=1, labels=['VariableId', 'AreaId', 'Year'], inplace=True)

In [6]:
All = slice(None)
WSI = 'SDG 6.4.2. Water Stress'
TFW = 'Total freshwater withdrawal (primary and secondary)'

In [7]:
tfw_predictors = [
    'Total population',
    'Cultivated area (arable land + permanent crops)',
    'Gross Domestic Product (GDP)',
    'Total renewable surface water',
]

In [8]:
data = data.pivot_table(index=['Area', 'YearBin'], columns='VariableName', values='Value', aggfunc=np.mean)

In [9]:
data = data.loc[:, tfw_predictors + [WSI, TFW]]

In [10]:
data

VariableName         Total population  \
Area        YearBin
Afghanistan 1980             12750.00
            1985             11503.00
            1990             13981.00
            1995             18382.00
            2000             21980.00
            2005             26617.00
            2010             30697.00
            2015             35530.00
Albania     1980              2788.00
            1985              3121.00
            1990              3241.00
            1995              3093.00
            2000              3119.00
            2005              3024.00
            2010              2920.00
            2015              2930.00
Algeria     1980             20576.00
            1985             23918.00
            1990             27181.00
            1995             29887.00
            2000             31995.00
            2005             34300.00
            2010             37566.00
            2015             41318.00
Andorra     1980                39.11
            1985                48.46
            1990                58.89
            1995                64.33
            2000                70.05
            2005                82.68
...                               ...
Viet Nam    1990             71130.00
            1995             77453.00
            2000             81956.00
            2005             85890.00
            2010             90452.00
            2015             95541.00
Yemen       1980              8765.00
            1985             10629.00
            1990             13326.00
            1995             16409.00
            2000             18919.00
            2005             21752.00
            2010             24910.00
            2015             28250.00
Zambia      1980              6306.00
            1985              7386.00
            1990              8452.00
            1995              9667.00
            2000             11120.00
            2005             12726.00
            2010             14700.00
            2015             17094.00
Zimbabwe    1980              7722.00
            1985              9293.00
            1990             10683.00
            1995             11710.00
            2000             12501.00
            2005             13330.00
            2010             14711.00
            2015             16530.00

VariableName         Cultivated area (arable land + permanent crops)  \
Area        YearBin
Afghanistan 1980                                             8054.00
            1985                                             8045.00
            1990                                             8030.00
            1995                                             7790.00
            2000                                             7753.00
            2005                                             7910.00
            2010                                             7910.00
            2015                                             7910.00
Albania     1980                                              709.00
            1985                                              714.00
            1990                                              703.00
            1995                                              700.00
            2000                                              699.00
            2005                                              698.00
            2010                                              696.00
            2015                                              703.50
Algeria     1980                                             7509.00
            1985                                             7624.00
            1990                                             8094.00
            1995                                             8159.00
            2000                                             8206.00
            2005                                             8390.00
            2010                                             8430.00
            2015                                             8417.00
Andorra     1980                                                1.00
            1985                                                1.00
            1990                                                1.00
            1995                                                1.00
            2000                                                0.85
            2005                                                0.77
...                                                              ...
Viet Nam    1990                                             6697.00
            1995                                             7202.00
            2000                                             8813.00
            2005                                             9421.00
            2010                                            10151.00
            2015                                            11536.00
Yemen       1980                                             1465.00
            1985                                             1479.00
            1990                                             1481.00
            1995                                             1720.00
            2000                                             1656.00
            2005                                             1627.00
            2010                                             1550.00
            2015                                             1546.00
Zambia      1980                                             2228.00
            1985                                             2586.00
            1990                                             2800.00
            1995                                             2836.00
            2000                                             2616.00
            2005                                             2984.00
            2010                                             3836.00
            2015                                             3836.00
Zimbabwe    1980                                             2685.00
            1985                                             2890.00
            1990                                             3090.00
            1995                                             3600.00
            2000                                             3750.00
            2005                                             4100.00
            2010                                             4100.00
            2015                                             4100.00

VariableName         Gross Domestic Product (GDP)  \
Area        YearBin
Afghanistan 1980                     3.480000e+09
            1985                              NaN
            1990                              NaN
            1995                              NaN
            2000                     4.130000e+09
            2005                     9.840000e+09
            2010                     2.050000e+10
            2015                     1.920000e+10
Albania     1980                              NaN
            1985                     2.160000e+09
            1990                     7.090000e+08
            1995                     2.360000e+09
            2000                     4.440000e+09
            2005                     1.070000e+10
            2010                     1.230000e+10
            2015                     1.150000e+10
Algeria     1980                     4.520000e+10
            1985                     6.670000e+10
            1990                     4.800000e+10
            1995                     4.820000e+10
            2000                     5.680000e+10
            2005                     1.350000e+11
            2010                     2.090000e+11
            2015                     1.670000e+11
Andorra     1980                     3.760000e+08
            1985                     6.110000e+08
            1990                     1.210000e+09
            1995                     1.180000e+09
            2000                     1.720000e+09
            2005                     4.010000e+09
...                                           ...
Viet Nam    1990                     9.870000e+09
            1995                     2.680000e+10
            2000                     3.790000e+10
            2005                     7.740000e+10
            2010                     1.560000e+11
            2015                     1.940000e+11
Yemen       1980                              NaN
            1985                              NaN
            1990                     6.460000e+09
            1995                     6.840000e+09
            2000                     1.070000e+10
            2005                     2.560000e+10
            2010                     3.405000e+10
            2015                              NaN
Zambia      1980                     3.870000e+09
            1985                     2.270000e+09
            1990                     3.180000e+09
            1995                     4.300000e+09
            2000                     4.190000e+09
            2005                     1.410000e+10
            2010                     2.550000e+10
            2015                     2.120000e+10
Zimbabwe    1980                     8.540000e+09
            1985                     6.740000e+09
            1990                     6.750000e+09
            1995                     8.530000e+09
            2000                     6.340000e+09
            2005                     5.290000e+09
            2010                     1.240000e+10
            2015                     1.390000e+10

VariableName         Total renewable surface water  SDG 6.4.2. Water Stress  \
Area        YearBin
Afghanistan 1980                             55.68                      NaN
            1985                             55.68                   70.490
            1990                             55.68                      NaN
            1995                             55.68                      NaN
            2000                             55.68                   54.750
            2005                             55.68                      NaN
            2010                             55.68                      NaN
            2015                             55.68                      NaN
Albania     1980                             26.35                      NaN
            1985                             26.35                      NaN
            1990                             26.35                    7.212
            1995                             26.35                      NaN
            2000                             26.35                   11.050
            2005                             26.35                    7.879
            2010                             26.35                      NaN
            2015                             26.35                      NaN
Algeria     1980                             10.15                   42.190
            1985                             10.15                   49.230
            1990                             10.15                   62.390
            1995                             10.15                      NaN
            2000                             10.15                   80.250
            2005                             10.15                      NaN
            2010                             10.15                  109.800
            2015                             10.15                  127.600
Andorra     1980                               NaN                      NaN
            1985                               NaN                      NaN
            1990                               NaN                      NaN
            1995                               NaN                      NaN
            2000                               NaN                      NaN
            2005                               NaN                      NaN
...                                            ...                      ...
Viet Nam    1990                            847.70                      NaN
            1995                            847.70                      NaN
            2000                            847.70                      NaN
            2005                            847.70                   18.130
            2010                            847.70                      NaN
            2015                            847.70                      NaN
Yemen       1980                              2.00                      NaN
            1985                              2.00                      NaN
            1990                              2.00                  139.100
            1995                              2.00                      NaN
            2000                              2.00                  161.100
            2005                              2.00                  168.600
            2010                              2.00                      NaN
            2015                              2.00                      NaN
Zambia      1980                            104.80                      NaN
            1985                            104.80                      NaN
            1990                            104.80                    3.151
            1995                            104.80                    3.077
            2000                            104.80                    2.835
            2005                            104.80                      NaN
            2010                            104.80                      NaN
            2015                            104.80                      NaN
Zimbabwe    1980                             19.00                      NaN
            1985                             19.00                   11.450
            1990                             19.00                      NaN
            1995                             19.00                      NaN
            2000                             19.00                   39.480
            2005                             19.00                   33.510
            2010                             19.00                      NaN
            2015                             19.00                      NaN

VariableName         Total freshwater withdrawal (primary and secondary)
Area        YearBin
Afghanistan 1980                                                   NaN
            1985                                                26.110
            1990                                                   NaN
            1995                                                   NaN
            2000                                                20.280
            2005                                                   NaN
            2010                                                   NaN
            2015                                                   NaN
Albania     1980                                                   NaN
            1985                                                   NaN
            1990                                                 1.200
            1995                                                   NaN
            2000                                                 1.838
            2005                                                 1.311
            2010                                                   NaN
            2015                                                   NaN
Algeria     1980                                                 3.000
            1985                                                 3.500
            1990                                                 4.436
            1995                                                   NaN
            2000                                                 5.706
            2005                                                   NaN
            2010                                                 7.810
            2015                                                 9.073
Andorra     1980                                                   NaN
            1985                                                   NaN
            1990                                                   NaN
            1995                                                   NaN
            2000                                                   NaN
            2005                                                   NaN
...                                                                ...
Viet Nam    1990                                                   NaN
            1995                                                   NaN
            2000                                                   NaN
            2005                                                81.860
            2010                                                   NaN
            2015                                                   NaN
Yemen       1980                                                   NaN
            1985                                                   NaN
            1990                                                 2.922
            1995                                                   NaN
            2000                                                 3.384
            2005                                                 3.540
            2010                                                   NaN
            2015                                                   NaN
Zambia      1980                                                   NaN
            1985                                                   NaN
            1990                                                 1.747
            1995                                                 1.706
            2000                                                 1.572
            2005                                                   NaN
            2010                                                   NaN
            2015                                                   NaN
Zimbabwe    1980                                                   NaN
            1985                                                 1.220
            1990                                                   NaN
            1995                                                   NaN
            2000                                                 4.205
            2005                                                 3.570
            2010                                                   NaN
            2015                                                   NaN

[1530 rows x 6 columns]

In [11]:
areas = data.index.levels[0]
bin_labels = [l for l in range(1980, 2020, 5)]
training_data = pd.DataFrame(list(product(areas, bin_labels)), columns=['Area', 'YearBin'])
training_data.set_index(['Area', 'YearBin'], inplace=True)
training_data = training_data.join(data, how='left')
training_data = training_data.groupby('Area').apply(lambda x: x.interpolate(limit_direction='both'))
training_data.dropna(axis=0, inplace=True)

In [16]:
training_data.to_csv('training_data.csv')

In [15]:
training_data

                     Total population  \
Area        YearBin
Afghanistan 1980              12750.0
            1985              11503.0
            1990              13981.0
            1995              18382.0
            2000              21980.0
            2005              26617.0
            2010              30697.0
            2015              35530.0
Albania     1980               2788.0
            1985               3121.0
            1990               3241.0
            1995               3093.0
            2000               3119.0
            2005               3024.0
            2010               2920.0
            2015               2930.0
Algeria     1980              20576.0
            1985              23918.0
            1990              27181.0
            1995              29887.0
            2000              31995.0
            2005              34300.0
            2010              37566.0
            2015              41318.0
Angola      1980               9582.0
            1985              11218.0
            1990              12968.0
            1995              15089.0
            2000              17573.0
            2005              20998.0
...                               ...
Viet Nam    1990              71130.0
            1995              77453.0
            2000              81956.0
            2005              85890.0
            2010              90452.0
            2015              95541.0
Yemen       1980               8765.0
            1985              10629.0
            1990              13326.0
            1995              16409.0
            2000              18919.0
            2005              21752.0
            2010              24910.0
            2015              28250.0
Zambia      1980               6306.0
            1985               7386.0
            1990               8452.0
            1995               9667.0
            2000              11120.0
            2005              12726.0
            2010              14700.0
            2015              17094.0
Zimbabwe    1980               7722.0
            1985               9293.0
            1990              10683.0
            1995              11710.0
            2000              12501.0
            2005              13330.0
            2010              14711.0
            2015              16530.0

                     Cultivated area (arable land + permanent crops)  \
Area        YearBin
Afghanistan 1980                                              8054.0
            1985                                              8045.0
            1990                                              8030.0
            1995                                              7790.0
            2000                                              7753.0
            2005                                              7910.0
            2010                                              7910.0
            2015                                              7910.0
Albania     1980                                               709.0
            1985                                               714.0
            1990                                               703.0
            1995                                               700.0
            2000                                               699.0
            2005                                               698.0
            2010                                               696.0
            2015                                               703.5
Algeria     1980                                              7509.0
            1985                                              7624.0
            1990                                              8094.0
            1995                                              8159.0
            2000                                              8206.0
            2005                                              8390.0
            2010                                              8430.0
            2015                                              8417.0
Angola      1980                                              3400.0
            1985                                              3400.0
            1990                                              3500.0
            1995                                              3500.0
            2000                                              3390.0
            2005                                              3690.0
...                                                              ...
Viet Nam    1990                                              6697.0
            1995                                              7202.0
            2000                                              8813.0
            2005                                              9421.0
            2010                                             10151.0
            2015                                             11536.0
Yemen       1980                                              1465.0
            1985                                              1479.0
            1990                                              1481.0
            1995                                              1720.0
            2000                                              1656.0
            2005                                              1627.0
            2010                                              1550.0
            2015                                              1546.0
Zambia      1980                                              2228.0
            1985                                              2586.0
            1990                                              2800.0
            1995                                              2836.0
            2000                                              2616.0
            2005                                              2984.0
            2010                                              3836.0
            2015                                              3836.0
Zimbabwe    1980                                              2685.0
            1985                                              2890.0
            1990                                              3090.0
            1995                                              3600.0
            2000                                              3750.0
            2005                                              4100.0
            2010                                              4100.0
            2015                                              4100.0

                     Gross Domestic Product (GDP)  \
Area        YearBin
Afghanistan 1980                     3.480000e+09
            1985                     3.642500e+09
            1990                     3.805000e+09
            1995                     3.967500e+09
            2000                     4.130000e+09
            2005                     9.840000e+09
            2010                     2.050000e+10
            2015                     1.920000e+10
Albania     1980                     2.160000e+09
            1985                     2.160000e+09
            1990                     7.090000e+08
            1995                     2.360000e+09
            2000                     4.440000e+09
            2005                     1.070000e+10
            2010                     1.230000e+10
            2015                     1.150000e+10
Algeria     1980                     4.520000e+10
            1985                     6.670000e+10
            1990                     4.800000e+10
            1995                     4.820000e+10
            2000                     5.680000e+10
            2005                     1.350000e+11
            2010                     2.090000e+11
            2015                     1.670000e+11
Angola      1980                     6.680000e+09
            1985                     6.680000e+09
            1990                     1.030000e+10
            1995                     7.650000e+09
            2000                     1.250000e+10
            2005                     6.040000e+10
...                                           ...
Viet Nam    1990                     9.870000e+09
            1995                     2.680000e+10
            2000                     3.790000e+10
            2005                     7.740000e+10
            2010                     1.560000e+11
            2015                     1.940000e+11
Yemen       1980                     6.460000e+09
            1985                     6.460000e+09
            1990                     6.460000e+09
            1995                     6.840000e+09
            2000                     1.070000e+10
            2005                     2.560000e+10
            2010                     3.405000e+10
            2015                     3.405000e+10
Zambia      1980                     3.870000e+09
            1985                     2.270000e+09
            1990                     3.180000e+09
            1995                     4.300000e+09
            2000                     4.190000e+09
            2005                     1.410000e+10
            2010                     2.550000e+10
            2015                     2.120000e+10
Zimbabwe    1980                     8.540000e+09
            1985                     6.740000e+09
            1990                     6.750000e+09
            1995                     8.530000e+09
            2000                     6.340000e+09
            2005                     5.290000e+09
            2010                     1.240000e+10
            2015                     1.390000e+10

                     Total renewable surface water  SDG 6.4.2. Water Stress  \
Area        YearBin
Afghanistan 1980                             55.68                70.490000
            1985                             55.68                70.490000
            1990                             55.68                65.243333
            1995                             55.68                59.996667
            2000                             55.68                54.750000
            2005                             55.68                54.750000
            2010                             55.68                54.750000
            2015                             55.68                54.750000
Albania     1980                             26.35                 7.212000
            1985                             26.35                 7.212000
            1990                             26.35                 7.212000
            1995                             26.35                 9.131000
            2000                             26.35                11.050000
            2005                             26.35                 7.879000
            2010                             26.35                 7.879000
            2015                             26.35                 7.879000
Algeria     1980                             10.15                42.190000
            1985                             10.15                49.230000
            1990                             10.15                62.390000
            1995                             10.15                71.320000
            2000                             10.15                80.250000
            2005                             10.15                95.025000
            2010                             10.15               109.800000
            2015                             10.15               127.600000
Angola      1980                            145.40                 1.273000
            1985                            145.40                 1.273000
            1990                            145.40                 1.415000
            1995                            145.40                 1.557000
            2000                            145.40                 1.699000
            2005                            145.40                 1.872000
...                                            ...                      ...
Viet Nam    1990                            847.70                12.055000
            1995                            847.70                14.080000
            2000                            847.70                16.105000
            2005                            847.70                18.130000
            2010                            847.70                18.130000
            2015                            847.70                18.130000
Yemen       1980                              2.00               139.100000
            1985                              2.00               139.100000
            1990                              2.00               139.100000
            1995                              2.00               150.100000
            2000                              2.00               161.100000
            2005                              2.00               168.600000
            2010                              2.00               168.600000
            2015                              2.00               168.600000
Zambia      1980                            104.80                 3.151000
            1985                            104.80                 3.151000
            1990                            104.80                 3.151000
            1995                            104.80                 3.077000
            2000                            104.80                 2.835000
            2005                            104.80                 2.835000
            2010                            104.80                 2.835000
            2015                            104.80                 2.835000
Zimbabwe    1980                             19.00                11.450000
            1985                             19.00                11.450000
            1990                             19.00                20.793333
            1995                             19.00                30.136667
            2000                             19.00                39.480000
            2005                             19.00                33.510000
            2010                             19.00                33.510000
            2015                             19.00                33.510000

                     Total freshwater withdrawal (primary and secondary)
Area        YearBin
Afghanistan 1980                                             26.110000
            1985                                             26.110000
            1990                                             24.166667
            1995                                             22.223333
            2000                                             20.280000
            2005                                             20.280000
            2010                                             20.280000
            2015                                             20.280000
Albania     1980                                              1.200000
            1985                                              1.200000
            1990                                              1.200000
            1995                                              1.519000
            2000                                              1.838000
            2005                                              1.311000
            2010                                              1.311000
            2015                                              1.311000
Algeria     1980                                              3.000000
            1985                                              3.500000
            1990                                              4.436000
            1995                                              5.071000
            2000                                              5.706000
            2005                                              6.758000
            2010                                              7.810000
            2015                                              9.073000
Angola      1980                                              0.480000
            1985                                              0.480000
            1990                                              0.533467
            1995                                              0.586933
            2000                                              0.640400
            2005                                              0.705700
...                                                                ...
Viet Nam    1990                                             54.417500
            1995                                             63.565000
            2000                                             72.712500
            2005                                             81.860000
            2010                                             81.860000
            2015                                             81.860000
Yemen       1980                                              2.922000
            1985                                              2.922000
            1990                                              2.922000
            1995                                              3.153000
            2000                                              3.384000
            2005                                              3.540000
            2010                                              3.540000
            2015                                              3.540000
Zambia      1980                                              1.747000
            1985                                              1.747000
            1990                                              1.747000
            1995                                              1.706000
            2000                                              1.572000
            2005                                              1.572000
            2010                                              1.572000
            2015                                              1.572000
Zimbabwe    1980                                              1.220000
            1985                                              1.220000
            1990                                              2.215000
            1995                                              3.210000
            2000                                              4.205000
            2005                                              3.570000
            2010                                              3.570000
            2015                                              3.570000

[1336 rows x 6 columns]