In [1]:
import numpy as np
import pandas as pd
import sqlite3
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score, GridSearchCV, cross_validate, train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder

In [81]:
conn = sqlite3.connect(r'C:\Users\Spencer\Environments\aquastaat\project.db')
conn.text_factory = lambda x: str(x, 'latin1')

water = pd.read_sql("SELECT * FROM parameter", conn)

In [89]:
All = slice(None)

pop = 'Total population'
cult = 'Cultivated area (arable land + permanent crops)'
gdp = 'Gross Domestic Product (GDP)'
trsw = 'Total renewable surface water'
tfw = 'Total freshwater withdrawal (primary and secondary)'
trwr = 'Total renewable water resources'
efr = 'Environmental Flow Requirements'
wsi = 'SDG 6.4.2. Water Stress'

preds = [cult, gdp, pop, trsw]

trwr_id = 4188
efr_id = 4549

In [3]:
data = pd.read_csv('training_data_arima.csv')
df_model = data.copy()
data.set_index(['Area', 'YearBin'], inplace=True)

In [4]:
# df_model.columns = df_model.columns.droplevel()
df_model.rename(columns={'Cultivated area (arable land + permanent crops)':'cultivated_area', 'Gross Domestic Product (GDP)':'GDP', 'Total freshwater withdrawal (primary and secondary)':'TFW', 'Total population':'total_population', 'Total renewable surface water':'TRSW'}, inplace=True)
df_model.rename_axis(None, inplace=True)

# Remove rows that contains NaN
df_model.dropna(inplace=True)
print(len(df_model.index))

1336

In [5]:
x_data = df_model[['cultivated_area', 'GDP', 'total_population', 'TRSW',]]
y_data = df_model['TFW']

## One-hot encoding
# enc = OneHotEncoder(handle_unknown='ignore')
# x_data = enc.fit_transform(x_data)

## Split data
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, train_size=0.75, random_state=100, shuffle=True)

## Build a random forest regressor
random = 100
RF_clf = RandomForestRegressor(bootstrap=True, criterion='mse',random_state=random)
RF_clf.fit(x_train, y_train)
RF_param_grid = {"n_estimators":[10, 20, 30,  50,100], "max_depth": [5, 10, 15, 20, None]}

## Optimize the randomForest regressor
RF_grid_search = GridSearchCV(RF_clf, param_grid=RF_param_grid, n_jobs=-1, cv=3)
RF_grid_search.fit(x_train, y_train)
print(RF_grid_search.best_params_)
print(RF_grid_search.best_score_)

## Define optimum randomForest regressor
opt_RF = RandomForestRegressor(bootstrap=True, criterion='mse',random_state=random, n_estimators=RF_grid_search.best_params_['n_estimators'], max_depth=RF_grid_search.best_params_['max_depth'])
opt_RF.fit(x_train, y_train)
RF_tr_pred = opt_RF.predict(x_train)
print("Training MSE: %.2f" %mean_squared_error(y_train, RF_tr_pred))
RF_test_pred = opt_RF.predict(x_test)
print("Test MSE: %.2f" %mean_squared_error(y_test, RF_test_pred))

## Calculate adjusted R-squared
# n1 = number of data points for training set
# n2 = number of data points for test set
# p = number of predictors / attributes
n1 = len(y_train)
p=4
n2 = len(y_test)
train_adj_r2 = 1-(1-r2_score(y_train, RF_tr_pred))*(n1-1)/(n1-p-1)
test_adj_r2 = 1-(1-r2_score(y_test, RF_test_pred))*(n2-1)/(n2-p-1)
print("Training adj R2: %.2f" %train_adj_r2) 
print("Test adj R2: %.2f" %test_adj_r2)

c:\users\spencer\appdata\local\programs\python\python36\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

{'max_depth': 15, 'n_estimators': 30}
0.9385050033887423
Training MSE: 31.90
Test MSE: 284.07
Training adj R2: 0.99
Test adj R2: 0.95

In [6]:
tfw_preds = opt_RF.predict(data.loc[(All, [2020, 2025, 2030]), preds].values)
data.loc[(All, [2020, 2025, 2030]), tfw] = tfw_preds

In [59]:
data

                     Total population  \
Area        YearBin
Afghanistan 1980         12750.000000
            1985         11503.000000
            1990         13981.000000
            1995         18382.000000
            2000         21980.000000
            2005         26617.000000
            2010         30697.000000
            2015         35530.000000
            2020         40022.760330
            2025         45083.629170
            2030         50784.443711
Albania     1980          2788.000000
            1985          3121.000000
            1990          3241.000000
            1995          3093.000000
            2000          3119.000000
            2005          3024.000000
            2010          2920.000000
            2015          2930.000000
            2020          2949.094581
            2025          2968.313601
            2030          2987.657869
Algeria     1980         20576.000000
            1985         23918.000000
            1990         27181.000000
            1995         29887.000000
            2000         31995.000000
            2005         34300.000000
            2010         37566.000000
            2015         41318.000000
...                               ...
Yemen       1995         16409.000000
            2000         18919.000000
            2005         21752.000000
            2010         24910.000000
            2015         28250.000000
            2020         31698.106687
            2025         35567.078498
            2030         39908.284912
Zambia      1980          6306.000000
            1985          7386.000000
            1990          8452.000000
            1995          9667.000000
            2000         11120.000000
            2005         12726.000000
            2010         14700.000000
            2015         17094.000000
            2020         19787.788661
            2025         22906.082841
            2030         26515.779005
Zimbabwe    1980          7722.000000
            1985          9293.000000
            1990         10683.000000
            1995         11710.000000
            2000         12501.000000
            2005         13330.000000
            2010         14711.000000
            2015         16530.000000
            2020         18502.331182
            2025         20709.997531
            2030         23181.078833

                     Cultivated area (arable land + permanent crops)  \
Area        YearBin
Afghanistan 1980                                         8054.000000
            1985                                         8045.000000
            1990                                         8030.000000
            1995                                         7790.000000
            2000                                         7753.000000
            2005                                         7910.000000
            2010                                         7910.000000
            2015                                         7910.000000
            2020                                         7920.311940
            2025                                         7928.710700
            2030                                         7930.792730
Albania     1980                                          709.000000
            1985                                          714.000000
            1990                                          703.000000
            1995                                          700.000000
            2000                                          699.000000
            2005                                          698.000000
            2010                                          696.000000
            2015                                          703.500000
            2020                                          711.000000
            2025                                          718.500000
            2030                                          726.000000
Algeria     1980                                         7509.000000
            1985                                         7624.000000
            1990                                         8094.000000
            1995                                         8159.000000
            2000                                         8206.000000
            2005                                         8390.000000
            2010                                         8430.000000
            2015                                         8417.000000
...                                                              ...
Yemen       1995                                         1720.000000
            2000                                         1656.000000
            2005                                         1627.000000
            2010                                         1550.000000
            2015                                         1546.000000
            2020                                         1546.000000
            2025                                         1546.000000
            2030                                         1546.000000
Zambia      1980                                         2228.000000
            1985                                         2586.000000
            1990                                         2800.000000
            1995                                         2836.000000
            2000                                         2616.000000
            2005                                         2984.000000
            2010                                         3836.000000
            2015                                         3836.000000
            2020                                         3836.000000
            2025                                         3836.000000
            2030                                         3836.000000
Zimbabwe    1980                                         2685.000000
            1985                                         2890.000000
            1990                                         3090.000000
            1995                                         3600.000000
            2000                                         3750.000000
            2005                                         4100.000000
            2010                                         4100.000000
            2015                                         4100.000000
            2020                                         4287.727273
            2025                                         4475.454545
            2030                                         4663.181818

                     Gross Domestic Product (GDP)  \
Area        YearBin
Afghanistan 1980                     3.480000e+09
            1985                     3.642500e+09
            1990                     3.805000e+09
            1995                     3.967500e+09
            2000                     4.130000e+09
            2005                     9.840000e+09
            2010                     2.050000e+10
            2015                     1.920000e+10
            2020                     2.151193e+10
            2025                     2.410225e+10
            2030                     2.700447e+10
Albania     1980                     2.160000e+09
            1985                     2.160000e+09
            1990                     7.090000e+08
            1995                     2.360000e+09
            2000                     4.440000e+09
            2005                     1.070000e+10
            2010                     1.230000e+10
            2015                     1.150000e+10
            2020                     1.405890e+10
            2025                     1.718720e+10
            2030                     2.101158e+10
Algeria     1980                     4.520000e+10
            1985                     6.670000e+10
            1990                     4.800000e+10
            1995                     4.820000e+10
            2000                     5.680000e+10
            2005                     1.350000e+11
            2010                     2.090000e+11
            2015                     1.670000e+11
...                                           ...
Yemen       1995                     6.840000e+09
            2000                     1.070000e+10
            2005                     2.560000e+10
            2010                     3.405000e+10
            2015                     3.405000e+10
            2020                     3.890177e+10
            2025                     4.444486e+10
            2030                     5.077779e+10
Zambia      1980                     3.870000e+09
            1985                     2.270000e+09
            1990                     3.180000e+09
            1995                     4.300000e+09
            2000                     4.190000e+09
            2005                     1.410000e+10
            2010                     2.550000e+10
            2015                     2.120000e+10
            2020                     2.505755e+10
            2025                     2.961701e+10
            2030                     3.500612e+10
Zimbabwe    1980                     8.540000e+09
            1985                     6.740000e+09
            1990                     6.750000e+09
            1995                     8.530000e+09
            2000                     6.340000e+09
            2005                     5.290000e+09
            2010                     1.240000e+10
            2015                     1.390000e+10
            2020                     1.642924e+10
            2025                     1.941870e+10
            2030                     2.295212e+10

                     Total renewable surface water  SDG 6.4.2. Water Stress  \
Area        YearBin
Afghanistan 1980                             55.68                70.490000
            1985                             55.68                70.490000
            1990                             55.68                65.243333
            1995                             55.68                59.996667
            2000                             55.68                54.750000
            2005                             55.68                54.750000
            2010                             55.68                54.750000
            2015                             55.68                54.750000
            2020                             55.68                      NaN
            2025                             55.68                      NaN
            2030                             55.68                      NaN
Albania     1980                             26.35                 7.212000
            1985                             26.35                 7.212000
            1990                             26.35                 7.212000
            1995                             26.35                 9.131000
            2000                             26.35                11.050000
            2005                             26.35                 7.879000
            2010                             26.35                 7.879000
            2015                             26.35                 7.879000
            2020                             26.35                      NaN
            2025                             26.35                      NaN
            2030                             26.35                      NaN
Algeria     1980                             10.15                42.190000
            1985                             10.15                49.230000
            1990                             10.15                62.390000
            1995                             10.15                71.320000
            2000                             10.15                80.250000
            2005                             10.15                95.025000
            2010                             10.15               109.800000
            2015                             10.15               127.600000
...                                            ...                      ...
Yemen       1995                              2.00               150.100000
            2000                              2.00               161.100000
            2005                              2.00               168.600000
            2010                              2.00               168.600000
            2015                              2.00               168.600000
            2020                              2.00                      NaN
            2025                              2.00                      NaN
            2030                              2.00                      NaN
Zambia      1980                            104.80                 3.151000
            1985                            104.80                 3.151000
            1990                            104.80                 3.151000
            1995                            104.80                 3.077000
            2000                            104.80                 2.835000
            2005                            104.80                 2.835000
            2010                            104.80                 2.835000
            2015                            104.80                 2.835000
            2020                            104.80                      NaN
            2025                            104.80                      NaN
            2030                            104.80                      NaN
Zimbabwe    1980                             19.00                11.450000
            1985                             19.00                11.450000
            1990                             19.00                20.793333
            1995                             19.00                30.136667
            2000                             19.00                39.480000
            2005                             19.00                33.510000
            2010                             19.00                33.510000
            2015                             19.00                33.510000
            2020                             19.00                      NaN
            2025                             19.00                      NaN
            2030                             19.00                      NaN

                     Total freshwater withdrawal (primary and secondary)  \
Area        YearBin
Afghanistan 1980                                             26.110000
            1985                                             26.110000
            1990                                             24.166667
            1995                                             22.223333
            2000                                             20.280000
            2005                                             20.280000
            2010                                             20.280000
            2015                                             20.280000
            2020                                             10.788403
            2025                                             15.042920
            2030                                             24.605739
Albania     1980                                              1.200000
            1985                                              1.200000
            1990                                              1.200000
            1995                                              1.519000
            2000                                              1.838000
            2005                                              1.311000
            2010                                              1.311000
            2015                                              1.311000
            2020                                              1.164201
            2025                                              1.156783
            2030                                              1.111276
Algeria     1980                                              3.000000
            1985                                              3.500000
            1990                                              4.436000
            1995                                              5.071000
            2000                                              5.706000
            2005                                              6.758000
            2010                                              7.810000
            2015                                              9.073000
...                                                                ...
Yemen       1995                                              3.153000
            2000                                              3.384000
            2005                                              3.540000
            2010                                              3.540000
            2015                                              3.540000
            2020                                              8.293022
            2025                                             10.117500
            2030                                              9.139033
Zambia      1980                                              1.747000
            1985                                              1.747000
            1990                                              1.747000
            1995                                              1.706000
            2000                                              1.572000
            2005                                              1.572000
            2010                                              1.572000
            2015                                              1.572000
            2020                                             15.613438
            2025                                             18.622621
            2030                                             19.419120
Zimbabwe    1980                                              1.220000
            1985                                              1.220000
            1990                                              2.215000
            1995                                              3.210000
            2000                                              4.205000
            2005                                              3.570000
            2010                                              3.570000
            2015                                              3.570000
            2020                                              8.548898
            2025                                             16.525148
            2030                                             21.680848

                    Total renewable water resources  \
Area        YearBin
Afghanistan 1980                               None
            1985                               None
            1990                               None
            1995                               None
            2000                               None
            2005                               None
            2010                               None
            2015                               None
            2020                               None
            2025                               None
            2030                               None
Albania     1980                               None
            1985                               None
            1990                               None
            1995                               None
            2000                               None
            2005                               None
            2010                               None

In [82]:
water.set_index(['Area', 'VariableId'], inplace=True)
water.sort_index(inplace=True)
water = water.loc[(All, [trwr_id, efr_id]), ['Value']]
water.fillna(0, inplace=True)
water.loc[water.loc[:,'Value']=='', :] = 0

In [87]:
data[trwr] = None
data[efr] = None
for name, group in data.groupby('Area'):
    if (name, trwr_id) in water.index:
        data.loc[(name, All), trwr] = water.at[(name, trwr_id), 'Value'].max()
    if (name, efr_id) in water.index:
        data.loc[(name, All), efr] = water.at[(name, efr_id), 'Value'].max()

In [91]:
data[wsi] = 100*data[tfw]/(data[trwr] - data[efr])

In [93]:
data.dropna(axis=0, inplace=True)

In [96]:
data

                     Total population  \
Area        YearBin
Afghanistan 1980         12750.000000
            1985         11503.000000
            1990         13981.000000
            1995         18382.000000
            2000         21980.000000
            2005         26617.000000
            2010         30697.000000
            2015         35530.000000
            2020         40022.760330
            2025         45083.629170
            2030         50784.443711
Albania     1980          2788.000000
            1985          3121.000000
            1990          3241.000000
            1995          3093.000000
            2000          3119.000000
            2005          3024.000000
            2010          2920.000000
            2015          2930.000000
            2020          2949.094581
            2025          2968.313601
            2030          2987.657869
Algeria     1980         20576.000000
            1985         23918.000000
            1990         27181.000000
            1995         29887.000000
            2000         31995.000000
            2005         34300.000000
            2010         37566.000000
            2015         41318.000000
...                               ...
Viet Nam    1995         77453.000000
            2000         81956.000000
            2005         85890.000000
            2010         90452.000000
            2015         95541.000000
            2020        100414.551197
            2025        105536.702484
            2030        110920.134965
Zambia      1980          6306.000000
            1985          7386.000000
            1990          8452.000000
            1995          9667.000000
            2000         11120.000000
            2005         12726.000000
            2010         14700.000000
            2015         17094.000000
            2020         19787.788661
            2025         22906.082841
            2030         26515.779005
Zimbabwe    1980          7722.000000
            1985          9293.000000
            1990         10683.000000
            1995         11710.000000
            2000         12501.000000
            2005         13330.000000
            2010         14711.000000
            2015         16530.000000
            2020         18502.331182
            2025         20709.997531
            2030         23181.078833

                     Cultivated area (arable land + permanent crops)  \
Area        YearBin
Afghanistan 1980                                         8054.000000
            1985                                         8045.000000
            1990                                         8030.000000
            1995                                         7790.000000
            2000                                         7753.000000
            2005                                         7910.000000
            2010                                         7910.000000
            2015                                         7910.000000
            2020                                         7920.311940
            2025                                         7928.710700
            2030                                         7930.792730
Albania     1980                                          709.000000
            1985                                          714.000000
            1990                                          703.000000
            1995                                          700.000000
            2000                                          699.000000
            2005                                          698.000000
            2010                                          696.000000
            2015                                          703.500000
            2020                                          711.000000
            2025                                          718.500000
            2030                                          726.000000
Algeria     1980                                         7509.000000
            1985                                         7624.000000
            1990                                         8094.000000
            1995                                         8159.000000
            2000                                         8206.000000
            2005                                         8390.000000
            2010                                         8430.000000
            2015                                         8417.000000
...                                                              ...
Viet Nam    1995                                         7202.000000
            2000                                         8813.000000
            2005                                         9421.000000
            2010                                        10151.000000
            2015                                        11536.000000
            2020                                        12921.000000
            2025                                        14306.000000
            2030                                        15691.000000
Zambia      1980                                         2228.000000
            1985                                         2586.000000
            1990                                         2800.000000
            1995                                         2836.000000
            2000                                         2616.000000
            2005                                         2984.000000
            2010                                         3836.000000
            2015                                         3836.000000
            2020                                         3836.000000
            2025                                         3836.000000
            2030                                         3836.000000
Zimbabwe    1980                                         2685.000000
            1985                                         2890.000000
            1990                                         3090.000000
            1995                                         3600.000000
            2000                                         3750.000000
            2005                                         4100.000000
            2010                                         4100.000000
            2015                                         4100.000000
            2020                                         4287.727273
            2025                                         4475.454545
            2030                                         4663.181818

                     Gross Domestic Product (GDP)  \
Area        YearBin
Afghanistan 1980                     3.480000e+09
            1985                     3.642500e+09
            1990                     3.805000e+09
            1995                     3.967500e+09
            2000                     4.130000e+09
            2005                     9.840000e+09
            2010                     2.050000e+10
            2015                     1.920000e+10
            2020                     2.151193e+10
            2025                     2.410225e+10
            2030                     2.700447e+10
Albania     1980                     2.160000e+09
            1985                     2.160000e+09
            1990                     7.090000e+08
            1995                     2.360000e+09
            2000                     4.440000e+09
            2005                     1.070000e+10
            2010                     1.230000e+10
            2015                     1.150000e+10
            2020                     1.405890e+10
            2025                     1.718720e+10
            2030                     2.101158e+10
Algeria     1980                     4.520000e+10
            1985                     6.670000e+10
            1990                     4.800000e+10
            1995                     4.820000e+10
            2000                     5.680000e+10
            2005                     1.350000e+11
            2010                     2.090000e+11
            2015                     1.670000e+11
...                                           ...
Viet Nam    1995                     2.680000e+10
            2000                     3.790000e+10
            2005                     7.740000e+10
            2010                     1.560000e+11
            2015                     1.940000e+11
            2020                     2.720950e+11
            2025                     3.816274e+11
            2030                     5.352521e+11
Zambia      1980                     3.870000e+09
            1985                     2.270000e+09
            1990                     3.180000e+09
            1995                     4.300000e+09
            2000                     4.190000e+09
            2005                     1.410000e+10
            2010                     2.550000e+10
            2015                     2.120000e+10
            2020                     2.505755e+10
            2025                     2.961701e+10
            2030                     3.500612e+10
Zimbabwe    1980                     8.540000e+09
            1985                     6.740000e+09
            1990                     6.750000e+09
            1995                     8.530000e+09
            2000                     6.340000e+09
            2005                     5.290000e+09
            2010                     1.240000e+10
            2015                     1.390000e+10
            2020                     1.642924e+10
            2025                     1.941870e+10
            2030                     2.295212e+10

                     Total renewable surface water SDG 6.4.2. Water Stress  \
Area        YearBin
Afghanistan 1980                             55.68                 70.4914
            1985                             55.68                 70.4914
            1990                             55.68                 65.2448
            1995                             55.68                 59.9982
            2000                             55.68                 54.7516
            2005                             55.68                 54.7516
            2010                             55.68                 54.7516
            2015                             55.68                 54.7516
            2020                             55.68                 29.1264
            2025                             55.68                 40.6126
            2030                             55.68                 66.4302
Albania     1980                             26.35                 7.21154
            1985                             26.35                 7.21154
            1990                             26.35                 7.21154
            1995                             26.35                 9.12861
            2000                             26.35                 11.0457
            2005                             26.35                 7.87861
            2010                             26.35                 7.87861
            2015                             26.35                 7.87861
            2020                             26.35                  6.9964
            2025                             26.35                 6.95182
            2030                             26.35                 6.67834
Algeria     1980                             10.15                 42.1941
            1985                             10.15                 49.2264
            1990                             10.15                  62.391
            1995                             10.15                 71.3221
            2000                             10.15                 80.2532
            2005                             10.15                 95.0492
            2010                             10.15                 109.845
            2015                             10.15                 127.609
...                                            ...                     ...
Viet Nam    1995                            847.70                 14.0786
            2000                            847.70                 16.1047
            2005                            847.70                 18.1307
            2010                            847.70                 18.1307
            2015                            847.70                 18.1307
            2020                            847.70                 17.4269
            2025                            847.70                 17.4469
            2030                            847.70                 16.2547
Zambia      1980                            104.80                 3.15115
            1985                            104.80                 3.15115
            1990                            104.80                 3.15115
            1995                            104.80                  3.0772
            2000                            104.80                  2.8355
            2005                            104.80                  2.8355
            2010                            104.80                  2.8355
            2015                            104.80                  2.8355
            2020                            104.80                 28.1628
            2025                            104.80                 33.5906
            2030                            104.80                 35.0273
Zimbabwe    1980                             19.00                 11.4532
            1985                             19.00                 11.4532
            1990                             19.00                 20.7942
            1995                             19.00                 30.1352
            2000                             19.00                 39.4762
            2005                             19.00                 33.5148
            2010                             19.00                 33.5148
            2015                             19.00                 33.5148
            2020                             19.00                 80.2563
            2025                             19.00                 155.137
            2030                             19.00                 203.538

                     Total freshwater withdrawal (primary and secondary)  \
Area        YearBin
Afghanistan 1980                                             26.110000
            1985                                             26.110000
            1990                                             24.166667
            1995                                             22.223333
            2000                                             20.280000
            2005                                             20.280000
            2010                                             20.280000
            2015                                             20.280000
            2020                                             10.788403
            2025                                             15.042920
            2030                                             24.605739
Albania     1980                                              1.200000
            1985                                              1.200000
            1990                                              1.200000
            1995                                              1.519000
            2000                                              1.838000
            2005                                              1.311000
            2010                                              1.311000
            2015                                              1.311000
            2020                                              1.164201
            2025                                              1.156783
            2030                                              1.111276
Algeria     1980                                              3.000000
            1985                                              3.500000
            1990                                              4.436000
            1995                                              5.071000
            2000                                              5.706000
            2005                                              6.758000
            2010                                              7.810000
            2015                                              9.073000
...                                                                ...
Viet Nam    1995                                             63.565000
            2000                                             72.712500
            2005                                             81.860000
            2010                                             81.860000
            2015                                             81.860000
            2020                                             78.682250
            2025                                             78.772917
            2030                                             73.390000
Zambia      1980                                              1.747000
            1985                                              1.747000
            1990                                              1.747000
            1995                                              1.706000
            2000                                              1.572000
            2005                                              1.572000
            2010                                              1.572000
            2015                                              1.572000
            2020                                             15.613438
            2025                                             18.622621
            2030                                             19.419120
Zimbabwe    1980                                              1.220000
            1985                                              1.220000
            1990                                              2.215000
            1995                                              3.210000
            2000                                              4.205000
            2005                                              3.570000
            2010                                              3.570000
            2015                                              3.570000
            2020                                              8.548898
            2025                                             16.525148
            2030                                             21.680848

                    Total renewable water resources  \
Area        YearBin
Afghanistan 1980                              65.33
            1985                              65.33
            1990                              65.33
            1995                              65.33
            2000                              65.33
            2005                              65.33
            2010                              65.33
            2015                              65.33
            2020                              65.33
            2025                              65.33
            2030                              65.33
Albania     1980                               30.2
            1985                               30.2
            1990                               30.2
            1995                               30.2
            2000                               30.2
            2005                               30.2
            2010                               30.2
            2015                               30.2