In [1]:
import pandas as pd
import sqlite3
import numpy as np
from itertools import product
pd.set_option("display.max_columns", 500)

In [2]:
data = pd.read_csv('training_data.csv')

In [3]:
countries = data.loc[:, 'Area'].unique()

In [4]:
gdp = pd.read_excel('countries_gdp.xlsx')
pop = pd.read_excel('population_growth.xlsx')

gdp.sort_values(by='country', inplace=True)
pop.sort_values(by='COUNTRY', inplace=True)

In [5]:
if input("load maps? y/n") == 'y':
    gdp = pd.read_csv('gdp_mapped.csv')
    pop = pd.read_csv('pop_mapped.csv')

load maps? y/ny

In [6]:
if input("create new maps? y/n") == 'y':
    gdp_map = {}
    for c in gdp.itertuples():
        if c.country in countries:
            gdp_map[c.country] = c.country
        else:
            while gdp_map.get(c.country) not in countries and gdp_map.get(c.country) != 'nan':
                gdp_map[c.country] = input(c.country)    
    gdp['mapped'] = gdp['country'].apply(lambda x: gdp_map.get(x, 'nan'))
    gdp = gdp.loc[gdp.loc[:,'mapped']!='nan',:]
    
    pop_map = {}
    for c in pop.itertuples():
        if c.COUNTRY in countries:
            pop_map[c.COUNTRY] = c.COUNTRY
        else:
            while pop_map.get(c.COUNTRY) not in countries and pop_map.get(c.COUNTRY) != 'nan':
                pop_map[c.COUNTRY] = input(c.COUNTRY)
    pop['mapped'] = pop['COUNTRY'].apply(lambda x: pop_map.get(x, 'nan'))
    pop = pop.loc[pop.loc[:,'mapped']!='nan',:]

create new maps? y/nn

In [7]:
if input("save maps again? y/n") == 'y':
    gdp.to_csv('gdp_mapped.csv', index=False)
    pop.to_csv('pop_mapped.csv', index=False)

save maps again? y/nn

In [8]:
pop.shape, gdp.shape, len(countries)

((177, 3), (174, 3), 167)

In [10]:
pop.set_index('mapped', inplace=True)
gdp.set_index('mapped', inplace=True)

In [11]:
pop['POPULATION'] = pop['POPULATION'].apply(lambda x: float("-" + x[1:]) if "âˆ’" in str(x) else x)

In [12]:
years = np.concatenate([data['YearBin'].unique(),[2020, 2025, 2030]])

In [13]:
def forecast(start, rate, years):
    return start*(1+rate/100)**years

In [14]:
new_data = pd.DataFrame(list(product(countries, years)), columns = ['Area', 'YearBin'])
new_data.set_index(['Area', 'YearBin'], inplace=True)
new_data = new_data.join(data.set_index(['Area', 'YearBin']), how='left')

In [15]:
All = slice(None)
col_pop = 'Total population'
for name, group in new_data.groupby('Area'):
    last_val = group.at[(name, 2015), col_pop]
    rate = pop.at[name, 'POPULATION']
    new_data.at[(name, 2020), col_pop] = forecast(last_val, rate, 5)
    new_data.at[(name, 2025), col_pop] = forecast(last_val, rate, 10)
    new_data.at[(name, 2030), col_pop] = forecast(last_val, rate, 15)

In [16]:
col_gdp = 'Gross Domestic Product (GDP)'
world_gdp = 3.2
for name, group in new_data.groupby('Area'):
    last_val = group.at[(name, 2015), col_gdp]
    if name in gdp.index:
        rate = gdp.at[name, 'gdp_rate']
    else:
        print(name)
        rate = world_gdp
    new_data.at[(name, 2020), col_gdp] = forecast(last_val, rate, 5)
    new_data.at[(name, 2025), col_gdp] = forecast(last_val, rate, 10)
    new_data.at[(name, 2030), col_gdp] = forecast(last_val, rate, 15)

Bhutan
Cuba
Syrian Arab Republic

In [18]:
new_data

                     Total population  \
Area        YearBin
Afghanistan 1980         12750.000000
            1985         11503.000000
            1990         13981.000000
            1995         18382.000000
            2000         21980.000000
            2005         26617.000000
            2010         30697.000000
            2015         35530.000000
            2020         40022.760330
            2025         45083.629170
            2030         50784.443711
Albania     1980          2788.000000
            1985          3121.000000
            1990          3241.000000
            1995          3093.000000
            2000          3119.000000
            2005          3024.000000
            2010          2920.000000
            2015          2930.000000
            2020          2949.094581
            2025          2968.313601
            2030          2987.657869
Algeria     1980         20576.000000
            1985         23918.000000
            1990         27181.000000
            1995         29887.000000
            2000         31995.000000
            2005         34300.000000
            2010         37566.000000
            2015         41318.000000
...                               ...
Yemen       1995         16409.000000
            2000         18919.000000
            2005         21752.000000
            2010         24910.000000
            2015         28250.000000
            2020         31698.106687
            2025         35567.078498
            2030         39908.284912
Zambia      1980          6306.000000
            1985          7386.000000
            1990          8452.000000
            1995          9667.000000
            2000         11120.000000
            2005         12726.000000
            2010         14700.000000
            2015         17094.000000
            2020         19787.788661
            2025         22906.082841
            2030         26515.779005
Zimbabwe    1980          7722.000000
            1985          9293.000000
            1990         10683.000000
            1995         11710.000000
            2000         12501.000000
            2005         13330.000000
            2010         14711.000000
            2015         16530.000000
            2020         18502.331182
            2025         20709.997531
            2030         23181.078833

                     Cultivated area (arable land + permanent crops)  \
Area        YearBin
Afghanistan 1980                                              8054.0
            1985                                              8045.0
            1990                                              8030.0
            1995                                              7790.0
            2000                                              7753.0
            2005                                              7910.0
            2010                                              7910.0
            2015                                              7910.0
            2020                                                 NaN
            2025                                                 NaN
            2030                                                 NaN
Albania     1980                                               709.0
            1985                                               714.0
            1990                                               703.0
            1995                                               700.0
            2000                                               699.0
            2005                                               698.0
            2010                                               696.0
            2015                                               703.5
            2020                                                 NaN
            2025                                                 NaN
            2030                                                 NaN
Algeria     1980                                              7509.0
            1985                                              7624.0
            1990                                              8094.0
            1995                                              8159.0
            2000                                              8206.0
            2005                                              8390.0
            2010                                              8430.0
            2015                                              8417.0
...                                                              ...
Yemen       1995                                              1720.0
            2000                                              1656.0
            2005                                              1627.0
            2010                                              1550.0
            2015                                              1546.0
            2020                                                 NaN
            2025                                                 NaN
            2030                                                 NaN
Zambia      1980                                              2228.0
            1985                                              2586.0
            1990                                              2800.0
            1995                                              2836.0
            2000                                              2616.0
            2005                                              2984.0
            2010                                              3836.0
            2015                                              3836.0
            2020                                                 NaN
            2025                                                 NaN
            2030                                                 NaN
Zimbabwe    1980                                              2685.0
            1985                                              2890.0
            1990                                              3090.0
            1995                                              3600.0
            2000                                              3750.0
            2005                                              4100.0
            2010                                              4100.0
            2015                                              4100.0
            2020                                                 NaN
            2025                                                 NaN
            2030                                                 NaN

                     Gross Domestic Product (GDP)  \
Area        YearBin
Afghanistan 1980                     3.480000e+09
            1985                     3.642500e+09
            1990                     3.805000e+09
            1995                     3.967500e+09
            2000                     4.130000e+09
            2005                     9.840000e+09
            2010                     2.050000e+10
            2015                     1.920000e+10
            2020                     2.151193e+10
            2025                     2.410225e+10
            2030                     2.700447e+10
Albania     1980                     2.160000e+09
            1985                     2.160000e+09
            1990                     7.090000e+08
            1995                     2.360000e+09
            2000                     4.440000e+09
            2005                     1.070000e+10
            2010                     1.230000e+10
            2015                     1.150000e+10
            2020                     1.405890e+10
            2025                     1.718720e+10
            2030                     2.101158e+10
Algeria     1980                     4.520000e+10
            1985                     6.670000e+10
            1990                     4.800000e+10
            1995                     4.820000e+10
            2000                     5.680000e+10
            2005                     1.350000e+11
            2010                     2.090000e+11
            2015                     1.670000e+11
...                                           ...
Yemen       1995                     6.840000e+09
            2000                     1.070000e+10
            2005                     2.560000e+10
            2010                     3.405000e+10
            2015                     3.405000e+10
            2020                     3.890177e+10
            2025                     4.444486e+10
            2030                     5.077779e+10
Zambia      1980                     3.870000e+09
            1985                     2.270000e+09
            1990                     3.180000e+09
            1995                     4.300000e+09
            2000                     4.190000e+09
            2005                     1.410000e+10
            2010                     2.550000e+10
            2015                     2.120000e+10
            2020                     2.505755e+10
            2025                     2.961701e+10
            2030                     3.500612e+10
Zimbabwe    1980                     8.540000e+09
            1985                     6.740000e+09
            1990                     6.750000e+09
            1995                     8.530000e+09
            2000                     6.340000e+09
            2005                     5.290000e+09
            2010                     1.240000e+10
            2015                     1.390000e+10
            2020                     1.642924e+10
            2025                     1.941870e+10
            2030                     2.295212e+10

                     Total renewable surface water  SDG 6.4.2. Water Stress  \
Area        YearBin
Afghanistan 1980                             55.68                70.490000
            1985                             55.68                70.490000
            1990                             55.68                65.243333
            1995                             55.68                59.996667
            2000                             55.68                54.750000
            2005                             55.68                54.750000
            2010                             55.68                54.750000
            2015                             55.68                54.750000
            2020                               NaN                      NaN
            2025                               NaN                      NaN
            2030                               NaN                      NaN
Albania     1980                             26.35                 7.212000
            1985                             26.35                 7.212000
            1990                             26.35                 7.212000
            1995                             26.35                 9.131000
            2000                             26.35                11.050000
            2005                             26.35                 7.879000
            2010                             26.35                 7.879000
            2015                             26.35                 7.879000
            2020                               NaN                      NaN
            2025                               NaN                      NaN
            2030                               NaN                      NaN
Algeria     1980                             10.15                42.190000
            1985                             10.15                49.230000
            1990                             10.15                62.390000
            1995                             10.15                71.320000
            2000                             10.15                80.250000
            2005                             10.15                95.025000
            2010                             10.15               109.800000
            2015                             10.15               127.600000
...                                            ...                      ...
Yemen       1995                              2.00               150.100000
            2000                              2.00               161.100000
            2005                              2.00               168.600000
            2010                              2.00               168.600000
            2015                              2.00               168.600000
            2020                               NaN                      NaN
            2025                               NaN                      NaN
            2030                               NaN                      NaN
Zambia      1980                            104.80                 3.151000
            1985                            104.80                 3.151000
            1990                            104.80                 3.151000
            1995                            104.80                 3.077000
            2000                            104.80                 2.835000
            2005                            104.80                 2.835000
            2010                            104.80                 2.835000
            2015                            104.80                 2.835000
            2020                               NaN                      NaN
            2025                               NaN                      NaN
            2030                               NaN                      NaN
Zimbabwe    1980                             19.00                11.450000
            1985                             19.00                11.450000
            1990                             19.00                20.793333
            1995                             19.00                30.136667
            2000                             19.00                39.480000
            2005                             19.00                33.510000
            2010                             19.00                33.510000
            2015                             19.00                33.510000
            2020                               NaN                      NaN
            2025                               NaN                      NaN
            2030                               NaN                      NaN

                     Total freshwater withdrawal (primary and secondary)
Area        YearBin
Afghanistan 1980                                             26.110000
            1985                                             26.110000
            1990                                             24.166667
            1995                                             22.223333
            2000                                             20.280000
            2005                                             20.280000
            2010                                             20.280000
            2015                                             20.280000
            2020                                                   NaN
            2025                                                   NaN
            2030                                                   NaN
Albania     1980                                              1.200000
            1985                                              1.200000
            1990                                              1.200000
            1995                                              1.519000
            2000                                              1.838000
            2005                                              1.311000
            2010                                              1.311000
            2015                                              1.311000
            2020                                                   NaN
            2025                                                   NaN
            2030                                                   NaN
Algeria     1980                                              3.000000
            1985                                              3.500000
            1990                                              4.436000
            1995                                              5.071000
            2000                                              5.706000
            2005                                              6.758000
            2010                                              7.810000
            2015                                              9.073000
...                                                                ...
Yemen       1995                                              3.153000
            2000                                              3.384000
            2005                                              3.540000
            2010                                              3.540000
            2015                                              3.540000
            2020                                                   NaN
            2025                                                   NaN
            2030                                                   NaN
Zambia      1980                                              1.747000
            1985                                              1.747000
            1990                                              1.747000
            1995                                              1.706000
            2000                                              1.572000
            2005                                              1.572000
            2010                                              1.572000
            2015                                              1.572000
            2020                                                   NaN
            2025                                                   NaN
            2030                                                   NaN
Zimbabwe    1980                                              1.220000
            1985                                              1.220000
            1990                                              2.215000
            1995                                              3.210000
            2000                                              4.205000
            2005                                              3.570000
            2010                                              3.570000
            2015                                              3.570000
            2020                                                   NaN
            2025                                                   NaN
            2030                                                   NaN

[1837 rows x 6 columns]

In [19]:
new_data.to_csv('training_data_rate.csv')